:root {
  --text: #f7f7f7;
  --background: #04100e;
  --primary: #8cdecc;
  --secondary: #5c4b4c;
  --accent: #dacb50;
}

body {
  background: var(--background) !important;
  color: var(--text) !important;
  font-size: 24px;
}

h4{
  font-size: 34px !important;
}

img {
  border-radius: 12px;
}
#gak{
  gap: 20px;
  background: #003C3C;
}
.navbar-dark {
  background: rgba(0, 0, 0, 0.60) !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
}
#p{
  gap:20px;
}

#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
}