:root {
  --text: #f7f7f7;
  --background: #04100e;
  --primary: #8cdecc;
  --secondary: #5c4b4c;
  --accent: #dacb50;
}

body {
  background: var(--background) !important;
  color: var(--text) !important;
  font-size: 24px;
}

h4{
  font-size: 34px !important;
}

img, iframe {
  border-radius: 12px;
}
#gak{
  gap: 20px;
  background: #003C3C;
}
.navbar-dark {
  background: rgba(0, 0, 0, 0.60) !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
}
#p{
  gap:20px;
}


.custom-react-quill .ql-editor{
  background-color: white; /* Atur latar belakang menjadi putih */
  color: black; /* Atur warna teks menjadi hitam */
  /* Tambahkan properti CSS lainnya sesuai kebutuhan Anda */
}

.ql-toolbar {
  background-color: white; /* Atur latar belakang menjadi putih */
  color: black; /* Atur warna teks menjadi hitam */
  /* Tambahkan properti CSS lainnya sesuai kebutuhan Anda */
}

